<!DOCTYPE html>
    <html>
    <head>
    <title>menu</title>
    <!doctype html>
<html lang="en">
  <head>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </body>
</html>
       </head>
    <body>
      
        <h1>what do you want to eat <button type="button" class="btn btn-dark"><a href="/traditional">go</a></button></h1>
        <div style="background-image: url('static/image/bg.jpg'); height: 100vh;" class="bg-image">
         <h3>foods</h3>
          <div class="alert alert-warning" role="alert"><li><a href="/burger", class="link-dark">burger</a></li></div>
          <div class="alert alert-warning" role="alert"> <li><a href="/pizza" class="link-dark">pizza</a></li></div>
          <div class="alert alert-warning" role="alert"><li><a href="/cake" class="link-dark">cake</a></li></div>
        
       <h3>drinks</h3>
       <div class="alert alert-warning" role="alert"><li><a href="/water" class="link-dark">water</a></li></div>
       <div class="alert alert-warning" role="alert"><li><a href="/hot_drinks" class="link-dark">hot_drinks</a></li></div>
       <div class="alert alert-warning" role="alert"><li><a href="/soft_drinks" class="link-dark">soft_drinks</a></li></div>
       <div class="alert alert-warning" role="alert"> <li><a href="/juice" class="link-dark">juice</a></li></div>
      
        </ul>
        </div>
    </body>
    </html>