<!DOCTYPE html>
    <html>
    <head>
    <title>ordered</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <div class="card">
            <div class="card-header">
              ordered!!!
            </div>
            <div class="card-body">
              <h5 class="card-title">ordered!!!</h5>
              <p class="card-text">thanks for choosing us! your order will be deliverd within a minute.</p>
              <a href="/" class="btn btn-primary">Go home</a>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">give as a comment</label>
            <button type="button" class="btn btn-dark"><a href="/">submit</a></button>
          </div>
          

    </body>
    </html>